.grid-images img {
  object-fit: scale-down;
  width:  550px;
  height: 550px;
  /* border-top: 2px solid gray; */
  position: relative;
  /* width: 350px;
  height: 550px; */
  /* background: white; */
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0% ;
  color: white;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,.25);
  transition: all .4s ease;
}

.grid-images img:hover {
  border-radius: 0% 0% 50% 50% / 0% 0% 5% 5% ;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,.25);
}

.grid-images:nth-child(-n+2) {
  margin-top: -50px !important;
}

.grid-images-container {
  margin-top: 100px;
}

.grid-buttons {
  margin-top: 15px !important;
  margin-bottom: 60px !important;
}

.grid-buttons2 {
  margin-top: 15px !important;
  margin-bottom: -50px !important;
}